{% import 'jinja_flowbite/icons/flowbite_logo.jinja' as flowbite_flowbite_icon %}
{% import 'jinja_flowbite/controls/dark_mode_toggle.jinja' as flowbite_dark_mode_toggle %}
{% extends "jinja_flowbite/layouts/stacked_layout.jinja" %}

{% block flowbite_head_app_css_links_outlet %}
    <link href="{{url_for('static',filename='css/app.min.css')}}" rel="stylesheet" />
{% endblock %}

{% block flowbite_head_scripts_outlet %}
    <script src="{{url_for('static',filename='js/htmx.2.0.1.min.js')}}"></script>
{% endblock %}


{% block flowbite_body_scripts_outlet %}
    <script src="{{url_for('static',filename='js/flowbite.min.2.4.1.js')}}"></script>
    <script src="{{url_for('static',filename='js/jinja-flowbite-app.js')}}"></script>
{% endblock %}

{% block flowbite_header_content_left_outlet  %}
    {% with app_services=app_services %}
        {% include "components/header_content_left.jinja" %}
    {% endwith %}
{% endblock %}

{% block flowbite_header_content_center_outlet %}
    {% with app_services=app_services %}
        {% include "components/header_content_center.jinja" %}
    {% endwith %}
{% endblock %}

{% block flowbite_header_content_right_outlet  %}
    {% with app_services=app_services %}
        {% include "components/header_content_right.jinja" %}
    {% endwith %}
{% endblock %}


{% block flowbite_footer_content_outlet %}
    {% with app_services=app_services %}
        {% include "components/footer_content.jinja" %}
    {% endwith %}
{% endblock %}

{% block flowbite_page_body_outlet %}

    {% block page_body %}{% endblock %}

{% endblock %}