
{% extends "layouts/main_layout.html" %}
{% import "jinja_flowbite/controls/button.jinja" as flowbite_button %}
{% import "jinja_flowbite/controls/card.jinja" as flowbite_card %}

{% import "jinja_flowbite/controls/spinner.jinja" as flowbite_spinner %}
{% import "jinja_flowbite/controls/alert.jinja" as flowbite_alert %}
{% import "jinja_flowbite/controls/anchor.jinja" as flowbite_anchor %}
{% import "jinja_flowbite/controls/badge.jinja" as flowbite_badge %}
{% import "jinja_flowbite/controls/checkbox.jinja" as flowbite_checkbox %}
{% import "jinja_flowbite/controls/input_label.jinja" as flowbite_input_label %}
{% import "jinja_flowbite/controls/input_text.jinja" as flowbite_input_text %}
{% import "jinja_flowbite/controls/select.jinja" as flowbite_select %}
{% import 'jinja_flowbite/controls/tab_control_anchor.jinja' as flowbite_tab_control_anchor %}
{% import 'jinja_flowbite/controls/tab_anchor.jinja' as flowbite_tab_anchor %}

{% import 'jinja_flowbite/controls/table_static.jinja' as flowbite_table_static %}
{% import 'jinja_flowbite/controls/table_static_header_cell.jinja' as flowbite_table_static_header_cell %}
{% import 'jinja_flowbite/controls/table_static_row.jinja' as flowbite_table_static_row %}
{% import 'jinja_flowbite/controls/table_static_row_cell.jinja' as flowbite_table_static_row_cell %}

{% import 'jinja_flowbite/controls/tab_control_header.jinja' as flowbite_tab_control_header %}
{% import 'jinja_flowbite/controls/tab_control_body.jinja' as flowbite_tab_control_body %}
{% import 'jinja_flowbite/controls/tab.jinja' as flowbite_tab %}
{% import 'jinja_flowbite/controls/tab_content.jinja' as flowbite_tab_content %}

{% import "jinja_flowbite/icons/plus.jinja" as flowbite_plus %}





{% block page_body %}

<div class="flex justify-between">
    <h1 class="pb-4 text-3xl">
        {{ page_title }}
    </h1>
    <div>
        {{ flowbite_button.render( id="back-btn", text="Back", style="primary", additional_attribs='onclick="history.back()"' ) }}
    </div>
</div>

<div class="px-4 flex flex-col space-y-6">

    <div class="flex flex-wrap">

        



        {% call(section_name) flowbite_card.render(title="Colors", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}
                
                <div class="flex space-x-4 min-w-80">

                    <div class="flex flex-col space-y-1 justify-stretch">
                        <div class="p-3 bg-gray-50 text-gray-800">bg-gray-50</div>
                        <div class="p-3 bg-gray-100 text-gray-800">bg-gray-100</div>
                        <div class="p-3 bg-gray-200 text-gray-800">bg-gray-200</div>
                        <div class="p-3 bg-gray-300 text-gray-800">bg-gray-300</div>
                        <div class="p-3 bg-gray-400">bg-gray-400</div>
                        <div class="p-3 bg-gray-500">bg-gray-500</div>
                        <div class="p-3 bg-gray-600">bg-gray-600</div>
                        <div class="p-3 bg-gray-700">bg-gray-700</div>
                        <div class="p-3 bg-gray-800 text-gray-100">bg-gray-800</div>
                        <div class="p-3 bg-gray-900 text-gray-100">bg-gray-900</div>
                    </div>

                    <div class="flex flex-col space-y-1 justify-stretch">
                        <div class="p-3 bg-primary-50 text-gray-800">bg-primary-50</div>
                        <div class="p-3 bg-primary-100 text-gray-800">bg-primary-100</div>
                        <div class="p-3 bg-primary-200 text-gray-800">bg-primary-200</div>
                        <div class="p-3 bg-primary-300 text-gray-800">bg-primary-300</div>
                        <div class="p-3 bg-primary-400">bg-primary-400</div>
                        <div class="p-3 bg-primary-500">bg-primary-500</div>
                        <div class="p-3 bg-primary-600">bg-primary-600</div>
                        <div class="p-3 bg-primary-700">bg-primary-700</div>
                        <div class="p-3 bg-primary-800 text-primary-100">bg-primary-800</div>
                        <div class="p-3 bg-primary-900 text-primary-100">bg-primary-900</div>
                    </div>

                    <div class="flex flex-col space-y-1 justify-stretch">
                        <div class="p-3 bg-red-50 text-gray-800">bg-red-50</div>
                        <div class="p-3 bg-red-100 text-gray-800">bg-red-100</div>
                        <div class="p-3 bg-red-200 text-gray-800">bg-red-200</div>
                        <div class="p-3 bg-red-300 text-gray-800">bg-red-300</div>
                        <div class="p-3 bg-red-400">bg-red-400</div>
                        <div class="p-3 bg-red-500">bg-red-500</div>
                        <div class="p-3 bg-red-600">bg-red-600</div>
                        <div class="p-3 bg-red-700">bg-red-700</div>
                        <div class="p-3 bg-red-800 text-red-100">bg-red-800</div>
                        <div class="p-3 bg-red-900 text-red-100">bg-red-900</div>
                    </div>

                </div>

            {% endif %}

        {% endcall %}

        {% call(section_name) flowbite_card.render(title="Alerts", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80">
                    {{ flowbite_alert.render(type="success", text="This is a success alert") }}
                    {{ flowbite_alert.render(type="warning", text="This is a warning alert") }}
                    {{ flowbite_alert.render(type="danger", text="This is a failure alert") }}
                </div>

            {% endif %}

        {% endcall %}

        {% call(section_name) flowbite_card.render(title="Anchor", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80">
                    {{ flowbite_anchor.render(id="anchor-1", text="Example Anchor", href="https://flowbite.com/", new_tab=true) }}
                </div>

            {% endif %}

        {% endcall %}

        {% call(section_name) flowbite_card.render(title="Badges", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80 items-center">
                    {{ flowbite_badge.render(id="badge-1", text="success", type="success", class="w-32") }}
                    {{ flowbite_badge.render(id="badge-2", text="warning", type="warning", class="w-32") }}
                    {{ flowbite_badge.render(id="badge-3", text="danger", type="danger", class="w-32") }}
                    {{ flowbite_badge.render(id="badge-4", text="dark", type="dark", class="w-32") }}
                    <hr class="border w-full"/>
                    {{ flowbite_badge.render(id="badge-1", text="success", type="success", class="w-32", text_size="text-base") }}
                    {{ flowbite_badge.render(id="badge-2", text="warning", type="warning", class="w-32", text_size="text-base") }}
                    {{ flowbite_badge.render(id="badge-3", text="danger", type="danger", class="w-32", text_size="text-base") }}
                    {{ flowbite_badge.render(id="badge-4", text="dark", type="dark", class="w-32", text_size="text-base") }}
                </div>

            {% endif %}

        {% endcall %}
    
        
        {% call(section_name) flowbite_card.render(title="Buttons", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80">
                    <div>
                        {{ flowbite_button.render( style="default", text="Default" ) }}
                    </div>
                    <div>
                        {{ flowbite_button.render( style="primary", text="Primary" ) }}
                    </div>
                    <div>
                        {{ flowbite_button.render( style="primary", text="Primary (disabled)", disabled="true" ) }}
                    </div>
                    <div>
                        {% call flowbite_button.render(style="primary") %}
                            <div class="flex items-center space-x-3">
                                {{ flowbite_plus.render() }}
                                <p>Primary with Icon</p>
                            </div>
                        {% endcall %}
                    </div>
                    <div>
                        {% call flowbite_button.render( style="primary", tooltip="A tooltip") %}
                            <div class="flex items-center space-x-3">
                                {{ flowbite_plus.render() }}
                                <p>Primary with Icon & Tooltip</p>
                            </div>
                        {% endcall %}
                    </div>
                    <div>
                        {{ flowbite_button.render( style="spinner" ) }}
                    </div>
                    
                </div>

            {% endif %}

        {% endcall %}

        
        {% call(section_name) flowbite_card.render(title="Cards", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-10 w-80">

                    {# Example card (simple) #}
                    {% call(section) flowbite_card.render(title="Simple Card") %}
            
                        {% if section == "body" %}
                            <p>This is the card body</p>
                        {% endif %}
            
                    {% endcall %}
            
                    {# Example card (Enhanced) #}
                    {% call(section) flowbite_card.render(title="Enhanced Card",
                                                    subtitle="Subtitle Text",
                                                    show_header_subtitle=True,
                                                    enable_header_bg=True) %}
            
                        {% if section == "header_controls" %}
                            {{ flowbite_plus.render()  }}
                        {% endif %}
                
                        {% if section == "body" %}
                            <p>This is the card body</p>
                        {% endif %}
            
                    {% endcall %}
                </div>

            {% endif %}

        {% endcall %}
        

        {% call(section_name) flowbite_card.render(title="Form Inputs", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

            <form post="#" class="h-[88%] flex flex-col justify-between min-w-80">
                <div class="flex flex-col space-y-4">
                    <div class="flex items-center space-x-3">
                        {{ flowbite_checkbox.render() }} 
                        {{ flowbite_input_label.render(text="Checkbox (unchecked)") }}
                    </div>
                    
                    <div class="flex items-center space-x-3">
                        {{ flowbite_checkbox.render(checked=True) }} 
                        {{ flowbite_input_label.render(text="Checkbox (checked)") }}
                    </div>
                    
                    <div>
                        {{ flowbite_input_label.render(text="Input Text", class="mb-2") }}
                        {{ flowbite_input_text.render(value="Example value") }}
                    </div>
                    <div>
                        {{ flowbite_input_label.render(text="Input Text with placeholder",  class="mb-2") }}
                        {{ flowbite_input_text.render(placeholder="Placeholder text") }}
                    </div>
                    <div>
                        {{ flowbite_input_label.render(text="Input Text with required",  class="mb-2") }}
                        {{ flowbite_input_text.render(required=True) }}
                    </div>
                    
                    <div>
                        {{ flowbite_input_label.render(text="Select", class="mb-2") }}
                        {% call flowbite_select.render(id="123", name="select_value") %}
                            <option >Choose an option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option selected value="3">Option 3</option>
                            <option value="4">Option 4</option>
                        {% endcall %} 
                    </div>
                    
                </div>
                <div class="flex items-center justify-end">
                    {{ flowbite_button.render( style="primary", type="submit", text="Submit")  }}
                </div>
            </form>

            {% endif %}

        {% endcall %}



        {% call(section_name) flowbite_card.render(title="Spinners", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80">
                    {{ flowbite_spinner.render (text="") }}
                    {{ flowbite_spinner.render (text="With text.") }}
                </div>

            {% endif %}

        {% endcall %}

        
        {% call(section_name) flowbite_card.render(title="Tabs (URL Query String)", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                {% set active_tab = request.args.get('active_tab') %}
                {% if active_tab is none %}
                    {% set active_tab = "profile" %}
                {% endif %}

                <div class="flex flex-col space-y-4 w-96">
                    {% call flowbite_tab_control_anchor.render() %}
                        {{ flowbite_tab_anchor.render (title="Profile", active=true if active_tab == "profile" else False, url="{}?active_tab=profile".format(request.base_url)) }}
                        {{ flowbite_tab_anchor.render (title="Dashboard", active=true if active_tab == "dashboard" else False, url="{}?active_tab=dashboard".format(request.base_url)) }}
                        {{ flowbite_tab_anchor.render (title="Settings", active=true if active_tab == "settings" else False, url="{}?active_tab=settings".format(request.base_url)) }}
                    {% endcall %}

                    <div class="h-64 w-full mb-6 p-4 border dark:border-gray-600">
        
                        {% if active_tab == "profile" %}
                        
                            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. 
                            </div>
                
                        {% elif active_tab == "dashboard" %}
                        
                            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. 
                            </div>
                
                        {% elif active_tab == "settings" %}
                        
                            <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800">
                                <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. 
                            </div>

                        {% endif %}
                    </div>
                </div>

            {% endif %}

        {% endcall %}


        {% call(section_name) flowbite_card.render(title="Tabs (Client Side)", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}


                <div class="flex flex-col space-y-3 w-96">

                    {% call flowbite_tab_control_header.render(id="my_tab_ctrl", tab_control_body_id="my_tab_ctrl_body") %}
                        {{ flowbite_tab.render(id="profile", title="Profile", active=True) }}
                        {{ flowbite_tab.render(id="dashboard", title="Dashboard", active=False) }}
                        {{ flowbite_tab.render(id="settings", title="Settings", active=False) }}
                        {{ flowbite_tab.render(id="contacts", title="Contacts", active=False) }}
                    {% endcall %}
                    {% call flowbite_tab_control_body.render(id="my_tab_ctrl_body") %}
                        {% call flowbite_tab_content.render(id="profile") %}
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        {% endcall %}
                        {% call flowbite_tab_content.render(id="dashboard") %}
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        {% endcall %}
                        {% call flowbite_tab_content.render(id="settings") %}
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        {% endcall %}
                        {% call flowbite_tab_content.render(id="contacts") %}
                            <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
                        {% endcall %}
                    {% endcall %}

                    
                </div>

            {% endif %}

        {% endcall %}
        

        {% call(section_name) flowbite_card.render(title="Tables", enable_header_bg="true", class="mr-6 mt-6") %}

            {% if section_name == "body" %}

                <div class="flex flex-col space-y-4 min-w-80">

                    {% call(table_section) flowbite_table_static.render() %}
                        {% if table_section == "header_cells" %}
                            {{ flowbite_table_static_header_cell.render(text="Id") }}
                            {{ flowbite_table_static_header_cell.render(text="Name") }}
                            {{ flowbite_table_static_header_cell.render(text="Species") }}
                            {{ flowbite_table_static_header_cell.render(text="Description") }}
                        {% endif %}
                        {% if table_section == "body_rows" %}
                            {% for sub_row in table_data %}
                                {% call flowbite_table_static_row.render() %}
                                    {{ flowbite_table_static_row_cell.render(text=sub_row[0]) }}
                                    {{ flowbite_table_static_row_cell.render(text=sub_row[1]) }}
                                    {{ flowbite_table_static_row_cell.render(text=sub_row[2]) }}
                                    {{ flowbite_table_static_row_cell.render(text=sub_row[3]) }}
                                {% endcall %}
                            {% endfor %}
                        {% endif %}
                    {% endcall %}


                    
                </div>


            {% endif %}

        {% endcall %}


        

        

    </div>

</div>
    
{% endblock %}

